table.sudoku {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
table.sudoku td {
  border: 1px solid;
}
table.sudoku td table td {
  width: 55px;
  height: 55px;
}
div.container {
  text-align: center;
}

